<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="JetBrains.dotMemoryUnit" version="2.4.20170830.172630" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="NUnit.Specifications.NUnit3" version="1.1.2" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net452" />
  <package id="Should" version="1.1.20" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net452" />
</packages>